.btn-close-project{
    background-color: transparent;
    border: 0;
    font-size: 2rem;
    font-weight: 300;
    font-family: inherit;
    color: rgba(255, 255, 255, 0.5);
    position: relative;

    &:hover{
        cursor: pointer;
        color: #fff;
    }
}