button{
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 2rem;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
}

.btn-close-project{
    border: 0;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
    position: relative;

    &:hover{
        cursor: pointer;
        color: #fff;
    }
}

.btn-close-to-do{
    border: 0;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    right: 4rem;
    visibility: hidden;

    &:hover{
        cursor: pointer;
        color: #fff;
    }
}

.form:hover .btn-close-to-do{
    visibility: visible;
}




.btn-group{
    display: inline-block;

    &__label{
        display: inline-block;
        margin-right: 1rem;
    }

    &__btn{
        padding: .5rem 2rem;
        border-radius: 3px;

        &:hover{
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
}

.priority-btn.active{
    background-color: $color-primary;
}