label{
    margin-right: 1rem;
}

.form-container--createProject{
    display: 'block';
}

.form{

    border: 1px solid #fff;
    padding: 2rem 4rem;

    &__group{
        padding: 1rem 0;

        &:first-child{
            padding-top: 0;
        }
        &:last-child{
            padding-bottom: 0;
        }
    }

    &__input{
        font-family: inherit;
        font-size: inherit;
        font-weight: 400;
        color: inherit;
        background-color: transparent;
        border: 0;
        outline: none;
        padding: 1rem 4rem;
        

        &--to-do{
            padding: 0;
            resize: none;

            &::-webkit-scrollbar{
                display: none;
            }
        }
    }
}

.create-project-form{
    width: 100%;
    background-color: #242426;
}

#createToDoForm{
    margin: 1rem 0;
    border-radius: 3px;
    position: relative;

    @media only screen and (max-width: 760px){
        width: calc(100% + 4rem);
        margin-left: -4rem;
        padding: 1rem 2rem;
    }
}

input[name=dueDate]{
    color: red;
    border: 1px solid red;
}