.icon-add-solid,
.icon-plus,
.icon-circle-down{
    fill: #fff;
    width: 3.5rem;
    height: 3.5rem;
    margin-bottom: 3rem;
    margin-left: 2.5rem;
    transition: all 500ms ease-in-out;
    border-radius: 50%;

    &:hover{
        cursor: pointer;
        fill: $color-primary;
    }


    @media only screen and (max-width: 760px){
        margin-bottom: 0;
    }
}

.icon-add-solid,
.icon-plus{
    &:hover{
        transform: scale(1.2);
    }
}