.icon-add-solid{
    fill: #fff;
    width: 3.5rem;
    height: 3.5rem;
    margin-bottom: 3rem;
    margin-left: 2.5rem;
    transition: all 500ms ease-in-out;
    border-radius: 50%;

    &:hover{
        cursor: pointer;
        transform: scale(1.1);
        fill: $color-primary;
    }
}