.footer{
    padding: 1rem;
    // border-top: 1px solid rgba(0, 0, 0, 0.283);
    background-color: #292937;
    color: #fff;
}

.footer-text-main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.odin-logo{
    height: 3.5rem;
    width: auto;
    margin-left: 2rem;
    fill: #fff;
    color: #fff;
}

.github-cat{
    fill: #fff;
    margin-left: 2rem;
    transition: all 2s;
    height: 3.5rem;

    &:hover{
        transform: rotate(360deg);
        fill: $color-primary;

    }
}

.github-handle{
    color: $color-primary;
    font-weight: 400;
    padding: 0 1rem;
    text-decoration: none;
}