.sidebar{
    grid-template-columns: 1/2;
    grid-row: 1/3;
    width: 100%;

    background-color: #242426;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: relative;

    @media only screen and (max-width: 760px){
        grid-row: 1/2;
        background-color: transparent;
    }
}

.project-list{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    &__item{
        padding: 1rem 4rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #242426;
    }
    
    @media only screen and (max-width: 760px){
        height: 0;
        overflow: hidden;
        // transition: height 1s;
    }

    
}

.project-list__item.active{
    font-weight: 400;
    background-color: $color-primary;
}

.toggler{
    position: absolute;
    right: 2rem;
    display: none;
    transition: transform 1s;
    transform: rotateX(0);
    z-index: 2;   


    @media only screen and (max-width: 760px){
        display: initial;       
    }
}

.flip-180{
    transform: rotateX(180deg);
}